@charset "UTF-8";

/* Paleta:
https://coolors.co/44af69-2b9eb3-ff784f-a22522-241023
*/

body {
    background-image: linear-gradient(to right, #2B9EB3, #19535e );
    margin: 0px;
}


header{
    background-color: white;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.479);
    border:center;
    border-radius: 20px 0px;
}

header > h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    color: #225233;
    text-shadow: 1px 1px 1px #1f462c27;
}

nav{
    background-color: rgba(211, 211, 211, 0.377);
    padding: 10px;
    margin:auto;

}

nav > a > img{
    width: 28px;
}

main{
    background-color: white;
    padding: 10px;
    border: 0px;
    margin: 10px;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.479);
    border-radius: 20px 0px;
    
}

section{
    display: inline-block;
    margin: 0px;
}

#python{
    height: 200px;
    width: 200px;
    padding: 1px;
    box-shadow: 1px solid rgba(0, 0, 0, 0.26);
    border: 1px solid black;
    margin: 18px auto;
    display: block;

}

#python2{
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    margin: 0px;
}

.centro{
    margin-left: 30px;
}

.fotos:hover{
    background-color: rgba(128, 128, 128, 0.212);
}

#html{
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    margin-left: 30px;
}