@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: 'computer';
    src: url('/font/PirataOne-Regular.ttf') format('truetype');
}


*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #395C6B;
    --cor1: #80A4ED;
    --cor2: #158ca16e;
    --cor3: #AFD0BF;
    --cor4: #ffa36a;
    --cor5: #ffd865;

    --corpo: 'Ubuntu', sans-serif;
    --paragrafo: 'computer', calibre;
}

body{
    background-color: var(--cor3);
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor0));
    min-height: 100px;
    padding: 10px;
}

header h1{
    font-family: var(--corpo);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: 10px 0px 20px 0px;
}

header p{
    font-family: var(--corpo);
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: white;
}


nav{
    padding: 20px 0px 10px 10px;
    background-color: var(--cor0);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.26);;
}

nav a{
    padding: 6px;
    font-weight: bolder;
    color: var(--cor3);
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover{
    background-color: var(--cor2);
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.5s;
}

main{
    background-color: white;
    max-width: 850px;
    min-width: 320px;
    margin: auto;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

p{
    text-align: justify;
    text-indent: 10px;
}

section  p{
    margin: 5px 5px 20px 5px;
}

article h2{
    font-family: var(--paragrafo);
    color: rgb(36, 65, 57);
    padding: 4px 4px 4px 10px;
    background-image: linear-gradient(to right, var(--cor5), transparent);
    border-radius: 10px;
    font-weight: 200;
    margin: 10px;
}

main a{
    padding: 2px;
    border-radius: 10px;
    background-color: var(--cor1);
    text-decoration: none;
}

main a:hover{
    background-color: var(--cor3);
    transition: 1s;
}