@charset "UTF-8";

:root{
    --cor0: #0FC2C0;
    --cor1: #0CABA8;
    --cor2: #008F8C;
    --cor3: #015958;
    --cor4: #023535;

}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor3));
    min-height: 100px;
}

header h1{
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 10px 0px 15px 0px;
}

nav{
    background-color: var(--cor3);
    padding: 13px;
}

nav a{
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 5px;
    text-decoration: none;
}

nav a:hover{
    background-color: var(--cor2);
    border-radius: 2px;
    color: var(--cor3);
    text-decoration: underline;
}
