@charset "UTF-8";

/* Paleta:
https://coolors.co/44af69-2b9eb3-ff784f-a22522-241023
*/

body {
    background-image: linear-gradient(to right, #2B9EB3, #19535e );
}

main{
    margin:auto;
    background-color: white;
    width: 1100px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px black;
}

div#quadro{
    height: 55px;
    background-color: rgba(223, 217, 217, 0.185);
    border: 1px solid black;
    font-size: 1.5em;
    text-indent: 30px;
}

p#contato{
    position: absolute;
    top: 88px;
}

img#git{
    position: relative;
    top: 12px;
    left: 105px;
}

h1 {
    color: #6B4E71;
    text-shadow: #4a374e;
    text-align: center;
    font-weight: bold;
}
